/*!*************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/main.scss ***!
  \*************************************************************************************************************************************************************************************/
#overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  font-family: monospace;
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 2em; }
  #overlay .disclaimer {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    border-radius: 6px;
    padding: 2em; }

